#banner{
  width:100%;
}

#heading{
  font-size: 50px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
  text-align: right;
  position: absolute;
  top:50%;
  left: 66%;
  color: #E5E4E2;
  filter: drop-shadow(5px 5px 5px black);
  position:
}
@@ -13,3 +13,16 @@{
  color: #E5E4E2;
  filter: drop-shadow(5px 5px 5px black);
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;

  .custom-toggler.navbar-toggler {
      border-color: rgb(255,102,203);
  }
  .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  #navIcon{
    color:white;
    font-size:28px;
  }

#navIcon{
  font-size: 50px;
  color: white;
}
